#Fri, 26 Apr 2013 15:01:08 +0530
app.name=SlideNav

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=f24f7775-ccae-48ff-9fc5-7ed91b6d097a
